*{
    text-decoration:none ;
    margin:0;
    list-style: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

input:focus, 
select:focus,
textarea:focus,
button:focus {
    outline: none;
    text-decoration: none;
}
input::placeholder{
    font-size: 14px;
    font-weight: lighter;
    transition: 0.4s;
}
input:focus::placeholder{
    transition: 0.4s;
    opacity:0;
}
input:hover{
    background: rgba(243, 243, 243, 1);
    transition: 0.4s;
    box-shadow: 0px 0px 10px rgba(64, 88, 139, 0.1);
}
input:focus{
    transition:0.2s;
    box-shadow: 0px 0px 10px rgb(139, 175, 195);

}
.container{
    font-family: 'Source Code Pro', monospace;
    color: rgb(51, 153, 200);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url("./src/img/background.jpg");
    background-repeat: no-repeat;
}

.background-img{
    width: 100%;
    height: 100%;
}

@keyframes RollDown{
0%{
    transform: translateX(-30%);
    opacity: 0.1;
}
100%{
    transform: translateX(0);
    opacity: 1;
}

}
.main{
    animation: 0.4s ease-in-out 0s 1 RollDown;
  
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background: rgba(228, 228, 228, 0.6);
    box-shadow: 0px 0px 20px rgba(64, 88, 139, 0.6);

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    border-radius: 10px;
    padding:30px;
    max-height:450px;
    max-width: 300px;
    margin-top: 5%;    
}
.log{
    font-size: 40px;
    color:whitesmoke;
    text-shadow: 0 0 30px rgba(64, 88, 139, 0.7);
    text-align: center;
    margin:5%;
    cursor: default;
}
.log2{
    transition: 0.5s;
    font-size: 15px;
    font-weight: normal;
    color:whitesmoke;
    text-shadow: 0 0 30px rgba(64, 88, 139, 0.7);
    text-align: center;
    cursor: default;
}
.link{
    margin:5px;
    transition: 0.4s;
    cursor: pointer;
    color: royalblue;
    font-weight: bold;

}
.link:hover{
    font-size: 16px;
    transition: 0.4s;
    color:rgb(28, 85, 255);
}
.link:link{
    text-decoration:none;
}
.input{
    background: rgba(243, 243, 243, 0.7);
    transition: 0.4s;
    color:royalblue;
    font-weight: bold;
    width: 100%;
    max-height: 50px;
    padding: 10px;
    border-radius: 5px;
}
.input-signup{
    background: rgba(243, 243, 243, 0.7);
    transition: 0.4s;
    color:royalblue;
    font-weight: bold;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 15px;
    border-radius: 5px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login{
    cursor: pointer;
    height: 50px;
    margin-top: 10px;
    font-size: 14px;
    transition: 0.4s;
    box-shadow: 0 0 20px rgba(64, 88, 139, 0.2);
    border-radius: 5px;
    padding:0 40px;
    color:royalblue;
    font-weight: bold;
}

.login:hover{
    transition: 0.4s;
    box-shadow: 0 0 20px rgba(64, 88, 139, 0.5);
    background: royalblue;
    color:white;
}

@media screen and (max-width:780px){
    .container{
        background-size: 240%;
        background-repeat: repeat-y;
    }
}

@media screen and (max-width: 455px){
    
    *{
        transition: 0.5s;
        box-shadow: none;
    }
    .main{
        margin-top:80px;
        max-width: 250px; 
        -webkit-backdrop-filter:none;
        backdrop-filter: none;
    }
    .logo{
        display: flex;
        font-size: 20px;
    }
    ul{
        margin-right: 25px;
    }
}