*{
    text-decoration:none ;
    transition: 0.4s;
    margin:0 auto;
}

.container{
    background-color: lightblue;
    height: 100%;
    width: 100%;
}

.background-img{
    height: 500px;
    width: 100%;
}